.sidenav a{
    position: absolute;
    padding: 10px;
    text-decoration: none;
    width: 100px;
    left: -75px;
    color: white;
    transition: 0.3s;
    border-radius: 0 5px 5px 0;
}
.sidenav a:hover{
    left: 0;
}
#Home {
    top: 17px;
    background-color: yellowgreen;
}
#Works{
    top: 117px;
    background-color: dodgerblue;
}
.bg-img{
    background-image: url(../img/task-5/form/w04Isu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.con{
    padding: 15px  15px 0 15px;
    border-radius: 5px;
    background-color: rgba(3, 15, 41, 0.514);
    color: whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
}
header{
    margin-top: 15px;
    text-align: center;
    color: whitesmoke;
    font-family: 'sans-serif, times new roman, Segoe UI', Tahoma,  Verdana;
}
header p mark{
    background-color: rgb(31, 97, 219);
    color: whitesmoke;
    border-radius: 5px;
}