.bg-img{
    background-image: url(../img/task-5/form/w04Isu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.con{
    padding: 15px  15px 0 15px;
    border-radius: 5px;
    background-color: rgba(3, 15, 41, 0.514);
    color: whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
}
header{
    margin-top: 15px;
    text-align: center;
    color: whitesmoke;
    font-family: 'sans-serif, times new roman, Segoe UI', Tahoma,  Verdana;
}
